.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ddd;
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:hover {
  background-color: #ffff00;
}